
.docs {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 10fr 1fr;
    /* padding-top: 1em; */
    grid-template-areas: "nav nav nav"
                         ". docs-content ."
                         ". footer .";
}

.nav.nav--custom {
    padding: 0.7em 1em;
    grid-area: nav;
    border-bottom: 1px solid var(--color-grey);
    box-shadow: 0 0 1px rgb(67 90 111 / 47%), 0 2px 4px -2px rgb(67 90 111 / 30%);
}

@media screen and (max-width: 710px) {
    .nav #nav--custom__toggler:checked ~ .nav__content {
        height: 140px;
        box-shadow: 0 0 1px rgb(67 90 111 / 47%), 0 2px 4px -2px rgb(67 90 111 / 30%);
    }
}

.nav--custom .nav__item.active {
    color: var(--color-blue);
    background-color: var(--app-primary-color);
}

.nav .nav__content {
    background-color: white;
}

.logo {
    height: 20px;
    width: 20px;
}

/* .nav > .nav__content > .nav__list {
    margin: 0 auto;
} */

.docs__content {
    grid-area: docs-content;
    padding: 1em;
}

.docs__section {
    margin: 2em 0;
    border: 1px solid var(--color-grey);
    box-shadow: 5px 5px 3px var(--color-light-grey);
    padding: 0.5em;
}

.docs__section > h2 {
    font-size: 2.2rem;
}

.docs__section a {
    text-decoration: none;
}

.docs__section a:hover:after {
    content: '#';
    color: var(--color-blue)
}

.card--colors .card__placeholder {
    height: 50px;
}

.card--colors {
    text-align: center;
}

.inverted-buttons-container {
    background: var(--color-black);
    padding: 0.5em;
}

.layout-primitives__block {
    background-color: var(--app-primary-color);
}

#button .btn {
    margin: 0.2em;
}