
:root {
    --app-color: var(--color-violet);
}

.root {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    /* padding-top: 1em; */
    grid-template-areas: ". . ." 
                         "nav nav nav"
                         ". component-header ."
                         ". controls-container ."
                         ". typography-container ."
                         ". color-container ."
                         ". layout-container ."
                         ". input-container ."
                         ". visualizations-container .";
}

.nav.nav--custom {
    padding: 0.7em 1em;
    grid-area: nav;
    border-bottom: 1px solid var(--color-grey);
    box-shadow: 0 0 1px rgb(67 90 111 / 47%), 0 2px 4px -2px rgb(67 90 111 / 30%);
}

.nav--custom .active {
    /* color: w; */
}

.nav .nav__content {
    background-color: white;
}

/* .nav > .nav__content > .nav__list {
    margin: 0 auto;
} */


.component-header {
    grid-area: component-header;
    padding: 1em;
}

.components-section {
    padding: 1em;
    margin: 1em 0;
}

.components-header {
    padding: 1.5em 0;
}

.components-container {
    display: grid;
    grid-auto-rows: 192px;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(min(192px, 100%), 350px));
}

.component-card {
    /* height: 130px;
    width: 320px; */
    border-radius: 0.5em;
    border: 1px solid var(--color-red);
    background: var(--app-color);  
    /* margin: 2em auto;  */
}

.controls-container {
    grid-area: controls-container;
}

.typography-container {
    grid-area: typography-container;
}

.color-container {
    grid-area: color-container;
}

.layout-container {
    grid-area: layout-container;
}

.input-container {
    grid-area: input-container;
}

.visualizations-container {
    grid-area: visualizations-container;
}